# Django settings
SECRET_KEY=******* # sicret key Django
DEBUG=True

# server parameters
NAME=***
USER=****
PASSWORD=*****
HOST=*****
PORT=*****

# Email yandex app parameter
EMAIL_USER=*********
PASSWORD_EMAIL_USER=*********
