# Django settings
SECRET_KEY=******* # sicret key Django
DEBUG=True or False

# server parameters
POSTGRES_DB=****
POSTGRES_USER=*****
POSTGRES_PASSWORD=******
DATABASE_HOST=*******
DATABASE_PORT=******

# Email yandex app parameter
MAIL_USER=*******
PASSWORD_EMAIL_USER=********
EMAIL_PORT=*******
EMAIL_HOST=*******
EMAIL_USE_TLS=*****
EMAIL_USE_SSL=*****

HELP_EMAIL=help@help.com,help@help.ru,.... # Почта для рассылки по обратной связи

#redis
LOCATION=******

#celery
CELERY_BROKER_URL=***
CELERY_RESULT_BACKEND=****

CELERY_TASK_TRACK_STARTED= ****
CELERY_TASK_TIME_LIMIT= ***
