{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card border-0 shadow-lg rounded-4">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h4><i class="bi bi-key me-2"></i>Запрос сброса пароля</h4>
                </div>
                <div class="card-body p-4">
                    <p class="mb-4">Введите адрес электронной почты, связанный с вашей учетной записью. Мы отправим вам
                        инструкции по сбросу пароля.</p>

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="id_email" class="form-label">Email адрес</label>
                            <input type="email" name="email" class="form-control form-control-lg" id="id_email"
                                   required>
                        </div>

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary btn-lg py-3">
                                <i class="bi bi-send me-2"></i>Отправить инструкции
                            </button>
                        </div>
                    </form>

                    <div class="mt-4 text-center">
                        <a href="{% url 'users:login' %}" class="text-decoration-none">
                            <i class="bi bi-arrow-left me-1"></i>Вернуться к входу
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}